#
# Copyright (c) 2019-2024 smallprogram
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/smallprogram/OpenWrtAction
# File: .github/workflows/Update_Checker.yml
# Description: Source code update checker
#

name: Update_Checker

on:
  workflow_dispatch:
  schedule:
    - cron: 0 */8 * * *

jobs:
  check:
    runs-on: ubuntu-latest

    steps:

    - name: Get Commit Hash
      id: getHash
      run: |
        git clone  -b openwrt-23.05 https://github.com/immortalwrt/immortalwrt immortalwrt --filter=blob:none
        cd immortalwrt
        echo "SHA_01=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        cd
        #git clone -b main https://github.com/xiaorouji/openwrt-passwall openwrt-passwall --filter=blob:none
        #cd openwrt-passwall
        #echo "SHA_02=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        #cd

    - name: Show Commit Head and Combination Heads
      id: combHeader
      run: |
        echo "commitHash_All=\
          ${{steps.getHash.outputs.SHA_01}}" >> $GITHUB_OUTPUT

    - name: Compare Commit Hash
      id: cacheHash
      uses: actions/cache@main
      with:
        path: .commitHash_All
        key: HEAD-${{ steps.combHeader.outputs.commitHash_All }}
   
    - name: Save New Commit Hash
      if: steps.cacheHash.outputs.cache-hit != 'true'
      run: |
        echo ${{ steps.combHeader.outputs.commitHash_All }} | tee .commitHash_All
        
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 1
          keep_minimum_runs: 3

    - name: Remove old Releases
      uses: dev-drprasad/delete-older-releases@master
      with:
        keep_latest: 5
        keep_min_download_counts: 2
        delete_expired_data: 60
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.OP_UPDATE }}
        
    - name: Trigger build
      if: steps.cacheHash.outputs.cache-hit != 'true'
      uses: peter-evans/repository-dispatch@main
      with:
        token: ${{ secrets.OP_UPDATE  }}
        event-type: openwrt_source_update
